# ─── Server ──────────────────────────────────────
PORT=5000
NODE_ENV=production

# ─── MongoDB ─────────────────────────────────────
MONGO_URI=mongodb+srv://aryan3147:Aryan3147@cluster0.yoct1y8.mongodb.net/securevault?retryWrites=true&w=majority

# ─── Encryption ──────────────────────────────────
# Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_KEY=6c96d544fc84ba7e713cf48533dec20e2be1251f34e646c8fb238d551084a86d

# ─── VirusTotal API ───────────────────────────────
# Free key from: https://www.virustotal.com/gui/join-us
VIRUSTOTAL_API_KEY=1cd66fade110b72e6c477497e4438030416472ce62280ad54d770237f0c07a6f

# ─── Frontend URL (for CORS) ─────────────────────
CLIENT_URL=https://securevault-3thz0g92i-aryan3147s-projects.vercel.app
